# Easier navigation
alias ..="cd ..;"
alias ...="cd ../.."
alias -- -="cd -"
alias ~="cd ~" # `cd` is probably faster to type though

# List all files colorized in long format, including dot files
alias la="ls -Gla"

# List only directories
alias lsd='ls -l | grep "^d"'

# ZSH
alias zshconfig="s ~/.zshrc"
alias ohmyzsh="s ~/.oh-my-zsh"

# Git
alias g='git'
alias gst='git status -s'
alias ga='git add'
alias gl='git pull'
alias gp='git push'
alias gd='git diff'
alias gcm='git commit -m'
alias gco='git checkout'
alias gcl='git clone'

# Vim
alias vimrc="vim ~/.vimrc"

# Misc 

alias serve="ruby -run -e httpd . -p"
